@using System.Globalization
@using FoodTruck.ViewModels
@using System.Configuration
@{string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"]; }
@model ArticleViewModel
@{
    bool affichageArticle = Model.Article != null ? true : false;
}
<div class="principalQuandPanierLateralPresent">
    @if (affichageArticle)
    {
        <div class="detailArticle">
            @{
                ViewBag.Title = "FoodTruckLyon - " + Model.Article.Nom;
            }
            <div>
                <img src="@dossierImagesArticles/@Model.Article.Image" alt="@Model.Article.Nom" />
                <div class="articleDescription">
                    <h2>@Model.Article.Nom</h2>
                    <h4>@Model.Article.Description</h4>
                    <p><i>Liste des allergènes&nbsp;:</i> @Model.Article.Allergenes</p>
                    @if (Model.Article.Grammage != 0)
                    {
                        <p class="grow">
                            <i>Valeur nutritionnelle :</i> @Model.Article.Grammage&nbsp; g
                        </p>
                    }
                    @if (Model.Article.Litrage != 0)
                    {
                        <p class="grow">
                            <i>Valeur nutritionnelle :</i> @Model.Article.Litrage&nbsp; ml
                        </p>
                    }
                    <div class="prix_submit">
                        <span class="prix">@Model.Article.PrixTTC.ToString("C2", new CultureInfo("fr-FR"))</span>
                        <div id="ajoutPanier">
                            @if (Model.Article.DansCarte)
                            {

                                using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                                {
                                    <input type="hidden" name="retourPageArticleIndex" value="true" />
                                    <input type="hidden" name="ancre" value="#@Model.NomPourUrl" />
                                    <input name="nom" value="@Model.Article.Nom" hidden>
                                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                                }
                            }
                            @if (ViewBag.AdminArticle != null)
                            {
                                using (Html.BeginForm("Modifier", "Article", new { area = "Administrer", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                                {
                                    <input type="hidden" name="id" value="@Model.Article.Id">
                                    <button class="modifierArticle" type="submit">Modifier l'article</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>