@using FoodTruck.Models
@using FoodTruck.DAL
@using System.Globalization
@using System.Configuration
@{
    ViewBag.Title = "Modifier";
    string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"];
    Article articleAModifier = TempData["articleAModifier"] as Article;
}
@model List<Article>

<div class="admin">
    <h2>Modifier un article</h2>
    <dl class="dl-horizontal"></dl>
    @using (Html.BeginForm((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="ccfield-prepend">
            <select class="ccformfield" name="id" size="1" onchange="this.form.submit()" required>
                <option selected disabled>Sélectionnez l'article</option>
                @{
                    int id = 0;
                    foreach (Article article in Model)
                    {
                        if (article.FamilleId != id)
                        {
                            id = article.FamilleId;
                            string nomFamille = new foodtruckEntities().FamilleArticle.Single(f => f.Id == id).Nom;
                            <optgroup label="@nomFamille"></optgroup>
                        }
                        string redOrNothing = "";
                        if (!article.DansCarte)
                        { redOrNothing = "red"; }
                        string selected = "";
                        if (articleAModifier != null && articleAModifier.Id == article.Id)
                        { selected = "selected"; }
                        <option class="@redOrNothing" value="@article.Id" @selected>@article.Nom</option>
                    }
                }
            </select>
        </div>
        <input class="ccbtn" type="hidden" value="Sélectionner">
    }
    @if (articleAModifier != null)
    {
        <p>Rentrez les nouvelles valeurs dans les champs que vous voulez modifier</p>
        <p>Décochez "visible dans la carte" pour supprimer l'article</p>
        <div>
            @using (Html.BeginForm("ModifierEtape2", (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input name="id" type="hidden" value="@articleAModifier.Id">
                <div class="ccfield-prepend">
                    <input class="ccformfield" name="nom" type="text" title="Nom" placeholder="Nom" maxlength='30' value="@articleAModifier.Nom.Trim()" required>
                </div>
                <div class="ccfield-prepend">
                    <div class="ccformfield">
                        <figure>
                            <label for="selectionFichier">
                                <img id="ImagePreview" src="@dossierImagesArticles/@articleAModifier.Image" alt="@articleAModifier.Nom" />
                                <figcaption>Cliquez pour changer l'image</figcaption>
                            </label>
                        </figure>
                    </div>
                </div>
                <div class="image-upload">
                    <input id="selectionFichier" class="ccformfield" onchange="readURL(this);" name="file" type="file" accept="image/*" maxlength='100'>
                </div>
                <div class="ccfield-prepend">
                    <textarea class="ccformfield" name="description" rows="1" title="Description" placeholder="Description" maxlength='90' required>@articleAModifier.Description.Trim()</textarea>
                </div>
                <div class="ccfield-prepend">
                    <input class="ccformfield" name="prix" type="number" min="0.05" step="0.05" title="Prix" placeholder="Prix" maxlength='8' value="@articleAModifier.PrixTTC.ToString("0.00", CultureInfo.InvariantCulture)" required>
                </div>
                <div class="ccfield-prepend">
                    <input class="ccformfield" name="grammage" type="number" min="0" step="10" title="Grammage" placeholder="Grammage" maxlength='8' value="@articleAModifier.Grammage">
                </div>
                <div class="ccfield-prepend">
                    <input class="ccformfield" name="litrage" type="number" min="0" step="10" title="Litrage" placeholder="Litrage" maxlength='8' value="@articleAModifier.Litrage">
                </div>
                <div class="ccfield-prepend">
                    <input class="ccformfield" name="allergenes" type="text" title="Allergènes" placeholder="Allergènes" maxlength='60' value="@articleAModifier.Allergenes.Trim()">
                </div>
                <div class="ccfield-prepend">
                    <select class="ccformfield" name="familleId" size="1" required>
                        <option selected disabled>Type d'article</option>
                        @foreach (var famille in new ArticleDAL().FamillesArticle())
                        {
                            string selected = "";
                            if (famille.Id == articleAModifier.FamilleId)
                            {
                                selected = "selected";
                            }
                            <option value="@famille.Id" @selected>@famille.Nom</option>
                        }
                    </select>
                </div>
                <div class="ccfield-prepend">
                    <div class="ccformfield">
                        @{
                            string check = "";
                            if (articleAModifier.DansCarte)
                            {
                                check = "checked";
                            }
                        }
                        <div>
                            <input name="dansCarte" type="checkbox" value="true" @check>
                            <input name="dansCarte" type="hidden" value="false">
                            Visible dans la carte
                        </div>
                    </div>
                </div>
                <div class="ccfield-prepend">
                    <input class="ccbtn" type="submit" value="Modifier">
                </div>
            }
        </div>
    }
</div>
